
section{
    width: 100%;
    min-height: 100vh;
    padding: 60px 0;
    background: black;
    text-align: center;
}

h1{
    color: yellow;
    font-size: 42px;
}

h2{
    color: yellow;
    font-size: 32px;
}

p{
    color: #fff;
    font-size: 22px;
}

hr{
    border-color: #fff;
    margin: 40px 0;
    width: 80%;
    margin: 0 auto;
}

.cont-botones{
    width: 80%;
    margin: 30px auto;
}

button{
    width: 260px;
    background: transparent;
    padding: 14px 30px;
    margin: 15px 30px;
    color: aqua;
    border: 2px solid aqua;
    transition: .4s;
    cursor: pointer;
}

button:hover{
    background: aqua;
    color: #000;
    border-radius: 20px;
}